<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AvalonEdit" version="5.0.4" targetFramework="net40" />
  <package id="Common.Logging" version="2.1.1" targetFramework="net40" />
  <package id="CommonMark.NET" version="0.15.1" targetFramework="net40" />
  <package id="ControlzEx" version="3.0.2.4" targetFramework="net40" />
  <package id="CookComputing.XmlRPCv2" version="2.5.0" targetFramework="net40" />
  <package id="Fluent.Ribbon" version="6.1.0.326" targetFramework="net40" />
  <package id="HtmlAgilityPack" version="1.11.8" targetFramework="net40" />
  <package id="Pechkin" version="0.5.8.1" targetFramework="net40" />
  <package id="Pechkin.Synchronized" version="0.5.8.1" targetFramework="net40" />
</packages>